@charset "UTF-8";

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #003973, #e5e5be); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #333;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            width: 100%;
            max-width: 800px;
            padding: 20px;
            background: linear-gradient(to right, #3ca55c, #b5ac49);/* Background color with opacity */
            border-radius: 10px;
        }

        h1 {
            color: #333;
        }

        .button-container {
            display: block;
            margin-top: 20px;
        }

        .button {
            display: block;
            width: 95%;
            padding: 20px; /* Increased padding for larger buttons */
            background: linear-gradient(to right, #314755, #26a0da);;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 24px; /* Increased font size for larger buttons */
            cursor: pointer;
            margin: 10px 0; /* Adjusted vertical margin */
        }

        .button:hover {
            background: linear-gradient(to right, #ffe259, #ffa751);
        }
